# **1**
1. 將統計的對象設定為English

2. 分別求得最大值與最小值

In [30]:
import pandas as pd
from pandas import Series, DataFrame

In [31]:
data = {'ID':['100','101','102','105','107'],
        'Math':[50,43,33,76,98],
        'English':[90,30,20,50,30],
        'Sex':['M','F','F','M','M']}
data_frame = DataFrame(data)
data_frame

    ID  Math  English Sex
0  100    50       90   M
1  101    43       30   F
2  102    33       20   F
3  105    76       50   M
4  107    98       30   M

In [32]:
# English
print("English的平均")
data_frame.groupby('Sex')['English'].mean()

English的平均

Sex
F    25.000000
M    56.666667
Name: English, dtype: float64

In [33]:
# 最大值
print("English分別的最大值")
data_frame.groupby('Sex')['English'].max()

English分別的最大值

Sex
F    30
M    90
Name: English, dtype: int64

In [34]:
# 最小值
print("English分別的最小值")
data_frame.groupby('Sex')['English'].min()

English分別的最小值

Sex
F    20
M    30
Name: English, dtype: int64

# **2**
1. 找出Money為500以上的人，並顯示紀錄
2. 承(1)，請分別計算男女(MF分開看)的平均Money

In [35]:
attri_data1 = {'ID':['1','2','3','4','5'],
        'Sex':['F','F','M','M','F'],
        'Money':[1000,2000,500,300,700],
        'Name':['Saito','Horie','Kondo','Kawada','Matsubara']}
attri_data_frame1 = DataFrame(attri_data1)
attri_data_frame1

  ID Sex  Money       Name
0  1   F   1000      Saito
1  2   F   2000      Horie
2  3   M    500      Kondo
3  4   M    300     Kawada
4  5   F    700  Matsubara

In [36]:
# Money大於500
attri_data_frame1[attri_data_frame1['Money']>500]

  ID Sex  Money       Name
0  1   F   1000      Saito
1  2   F   2000      Horie
4  5   F    700  Matsubara

In [37]:
# 以性別分開顯示Money的平均
attri_data_frame1.groupby('Sex')['Money'].mean()

Sex
F    1233.333333
M     400.000000
Name: Money, dtype: float64

# **3**
承(1)，請將下面的資料裡以有著相同ID的人來作為鍵，合併資料。並計算Money、Math和English的平均。

In [38]:
attri_data2 = {'ID':['3','4','7'],
        'Math':[60,30,40],
        'English':[80,20,30]}
attri_data_frame2 = DataFrame(attri_data2)
attri_data_frame2

  ID  Math  English
0  3    60       80
1  4    30       20
2  7    40       30

In [39]:
# 合併
attri_merge_data_frame = pd.merge(attri_data_frame1,attri_data_frame2, on="ID")
attri_merge_data_frame

  ID Sex  Money    Name  Math  English
0  3   M    500   Kondo    60       80
1  4   M    300  Kawada    30       20

In [40]:
# Money平均
print("Money的平均 = ", end="")
attri_merge_data_frame['Money'].mean()

Money的平均 =

400.0

In [41]:
# Math平均
print("Math的平均 = ", end="")
attri_merge_data_frame['Math'].mean()

Math的平均 =

45.0

In [42]:
# English平均
print("English的平均 = ", end="")
attri_merge_data_frame['English'].mean()

English的平均 =

50.0